
.vs/Plumbing-Tools-Store-Management-System Main/v17/.suo
.vs/Plumbing-Tools-Store-Management-System Main/FileContentIndex/a0897457-33e3-4c1a-9305-26da53e59bdc.vsidx
.vs/Plumbing-Tools-Store-Management-System Main/FileContentIndex/20421b8d-2f93-4a87-8d85-29ae84fd05e3.vsidx
.vs/Plumbing-Tools-Store-Management-System Main/v17/.suo
.vs/Plumbing-Tools-Store-Management-System Main/FileContentIndex/a0897457-33e3-4c1a-9305-26da53e59bdc.vsidx
.vs/Plumbing-Tools-Store-Management-System Main/FileContentIndex/fc414c56-105a-498c-9e24-d550cab4954c.vsidx
.vs/Plumbing-Tools-Store-Management-System Main/v17/.suo
Plumbing-Tools-Store-Management-System Main/obj/Debug/Plumbing-Tools-Store-Management-System Main.csproj.CoreCompileInputs.cache
Plumbing-Tools-Store-Management-System Main/obj/Debug/Plumbing-Tools-Store-Management-System Main.csproj.FileListAbsolute.txt
Plumbing-Tools-Store-Management-System Main/bin/Debug/Plumbing-Tools-Store-Management-System Main.pdb
Plumbing-Tools-Store-Management-System Main/bin/Debug/Plumbing-Tools-Store-Management-System Main.exe
.vs/Plumbing-Tools-Store-Management-System Main/v17/.suo
.vs/Plumbing-Tools-Store-Management-System Main/v17/.suo
*.cs
Plumbing-Tools-Store-Management-System Main/obj/Debug/Plumbing-Tools-Store-Management-System Main.csproj.GenerateResource.cache
Plumbing-Tools-Store-Management-System Main/obj/Debug/Plumbing-Tools-Store-Management-System Main.csproj.CoreCompileInputs.cache
Plumbing-Tools-Store-Management-System Main/obj/Debug/Plumbing-Tools-Store-Management-System Main.csproj.CoreCompileInputs.cache
.vs/Plumbing-Tools-Store-Management-System Main/FileContentIndex/a4028b23-2835-4c1c-bf8d-2e7ed2b87a33.vsidx
.vs/Plumbing-Tools-Store-Management-System Main/v17/.suo
.vs/Plumbing-Tools-Store-Management-System Main/v17/.suo
.vs/Plumbing-Tools-Store-Management-System Main/v17/.suo
.vs/Plumbing-Tools-Store-Management-System Main/v17/.suo
